@charset "UTF-8";

body{
    background-color:#8bdec1 ;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0B422F;
}

h1#principal {
    background-color: #126B4C;
    color: white;
    text-align: center;
}
h2{
    color:#1A996D ;
}
.intermediario {
    color: #84991a ;

}
.avançado {
    color: #992d1a ;
}
.destaque {
    background-color: #F0E000;
}